<!-- page header -->
<mat-toolbar color=primary class="mat-elevation-z2" fxLayout="row">
  <div @toggleMenuButton *ngIf="smallScreen">
    <button mat-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <button mat-button routerLink="/main">
    <strong>Marcio Alves</strong>
  </button>
  <div @toggleMainMenu *ngIf="!smallScreen">
    <button mat-button id="divagacoes" routerLink="/articles/1">Divagações</button>
    <button mat-button id="contos" routerLink="/contos/3">Contos</button>
    <button mat-button id="memories" routerLink="/memories/2">Memórias</button>
    <button mat-button [matMenuTriggerFor]="projectsMenu" id="projects">Projetos <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #projectsMenu="matMenu">
      <button mat-menu-item routerLink="/projects">Oficinas</button>
      <button mat-menu-item class="text-white">Performances</button>
    </mat-menu>
    <button mat-button id="memories" routerLink="/fotos">Fotos</button>
  </div>
</mat-toolbar>

<!-- sidenav -->
<mat-drawer-container class="example-container">
  <mat-drawer #sideNav class="example-sidenav">
    <div *ngIf="smallScreen">
      <mat-nav-list>
        <a mat-list-item routerLink="/articles/1"> Artigos </a>
        <a mat-list-item routerLink="/contos/3"> Memórias </a>
        <a mat-list-item routerLink="/memories/2"> Contos </a>
        <mat-accordion>
          <mat-expansion-panel hideToggle class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>Projetos</mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button routerLink="/projects"> Oficinas </button>
            <br>
            <button mat-button> Performances </button>
          </mat-expansion-panel>
        </mat-accordion>
        <a mat-list-item routerLink="/fotos"> Fotos </a>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <!-- page content -->
  <mat-drawer-content>
    <div style="height: 5px;"></div>
    <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </mat-drawer-content>

</mat-drawer-container>