::ng-deep .mat-toolbar {
  z-index: 5;
  position: relative !important;
}

.example-container {
  width: inherit !important;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  padding: 20px;
}

::ng-deep .mat-drawer-content {
  display: flex;
  width: inherit !important;
  flex-direction: column;
  align-items: flex-start;
}